@font-face {
    font-family: 'prototyperegular';
    src: url('fonts/prototype/webfontkit-20230224-063853/prototype-webfont.woff2') format('woff2'),
        url('fonts/prototype/webfontkit-20230224-063853/prototype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --left-width: 35vw;
}

body{
    margin: 0;
    height:100%;
    width:100%;
    display: flex;
    color:#f5f5f5;
    background:#1F0553;
    font-family: 'prototyperegular', Arial, Helvetica, sans-serif;

}

.left-side{
    height:100%;
    width: var(--left-width);
    background:#1F0553;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.hero-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.logo{
    font-size: 3rem;
    color: #f5f5f5;
    margin:3rem;
    font-family: 'prototyperegular', Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

p{
    margin:0;
    font-family: 'prototyperegular', Arial, Helvetica, sans-serif;

}

.right-side{
    height: 100%;
    width: calc(100vw - var(--left-width));
    background: linear-gradient(180deg, rgba(69,16,138,1) 50%, rgba(42,6,88,1) 100%);
    display: flex;
}

#wave{
    height: 100%;
}
.credit{
    text-decoration: none;
    color:whitesmoke;
    font-size: 16px;
    align-self: center;
    margin-bottom: 1rem;
    font-family: 'prototyperegular', Arial, Helvetica, sans-serif;
}

.content{
    display:flex;
    flex-direction: column;
    gap:2rem;
    margin-top: 7%;
}

.description{
    color:white;
    margin: 0 2rem 0 0;
    font-size: 22px;
    width:55%;
    line-height: 24px;
}

.sign-up-fields{
    width:50%;
    height:auto;
    /* From https://css.glass */
    background: rgba(128, 128, 128, 0.15);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    padding:20px;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    gap:12px;
    max-width: 100%;

}




.field1, .field3, .field5{
    margin-right: 3rem;
}


input, label {
    display:block;
}
input{
    font-size: 18px;
    border-radius: 6px;
    padding: 6px;
    margin:6px 0;
    border:0;
    border-bottom:2px solid #A77AFF;
    border-right:2px solid #A77AFF;
}

input:focus{
    outline:none;
    border:1px solid #A77AFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


input:not(:focus):not(:placeholder-shown):invalid {
    border: none;
    outline: 1px solid red;
    border-bottom:2px solid red;
    border-right:2px solid red; 
    border-radius: 5px;
}

input:not(:focus):not(:placeholder-shown):valid {
    border-bottom:2px solid #77c700;
    border-right:2px solid #77c700;  
}

label{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 100;
}

button {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;

    /* usual styles */
    padding:10px;
    border:none;
    background-color:#A77AFF;
    color:#fff;
    font-weight:600;
    border-radius:6px;
    width:20%;
    font-size: 18px;
    font-family: 'prototyperegular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: transform 0.15s ease-in-out, box-shadow 0.2s ease-out, background-color 0.2s ease;
}

button:hover{
    cursor:pointer;
    box-shadow: 0 0.5em 0.5em -0.4em #A77AFF;
    transform: translateY(-0.1rem);
    background-color:#a171ff;
}


.login-link{
    text-decoration: none;
    color:#A77AFF;
}

.login-link:hover, .login-link:focus{
    filter: brightness(1.15);

}

.iti__selected-flag{
    width:100%;
    background-color: #a071ff2f !important;
}

.iti__selected-flag{
    color:#1F0553;
}

.field4, #phone{
    width:250px;
    margin-bottom: 6px;
}

.iti{
    width: 76%;
}

.iti__country-list{
    color:#1F0553;
    font-size: 15px;
}

.iti__country.iti__highlight{color:#a171ff;}

@media only screen and (max-width: 600px)  {

    #wave{
        display: none;
    }

    body{
        flex-flow: column;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .hero-img{
        width: 100vw;
        height: 100%;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
        margin:20px 0 0 0;
        font-size: 30px;
    }
    .right-side{
        width: auto;
        height: auto;
    }
    .description{
        width: auto;
        margin: 10px 20px;

    }
    .left-side{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 7%;
        align-items: center;
    }

    .sign-up-fields{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    
    .field1, .field2, .field3, .field4, .field5, .field6{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }

    .field4, #phone{
        width:122%;
        height:auto;
        margin-bottom: 6px;
    }

    input{
        font-size: 1rem;
        height: 1.5rem;
        width: 70vw;
    }
    .submit,
    .login-text{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }

}